/* ESTILO GERAL */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
}

/* ESTILO DOS CONTROLES */

/* ESTILO DA RUA */
.rua {
  display: flex;
  height: 100px;
  background-color: #777;
  align-items: center;
  gap: 30px;
}

.rua > .faixa {
  flex: 1;
  height: 10px;
  background-color: #ddd;
}
