#menu-titulo{
    font-size: 2.5rem;
    font-weight: 800;
    background-color: black;
    padding: 20px 40px;
    text-align: center;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom:  5px solid #8758ff;
    overflow: hidden;
}

#menu-titulo > a{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    background-color: #f34a4a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    border-bottom-left-radius: 5px;
}

#menu-conteudo{
    display: flex;
    background-color: #bbb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu-coluna{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

.menu-coluna > a{
    font-size: 1.3rem;
    padding: 8px 15px;
    text-decoration: none;
    color: black;
}

.menu-coluna > a:hover{
    background-color: #999;
}

.divisao{
    width: 3px;
    background-color: #333;
}